* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-12, .col-6 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-12, .col-6 {
  width: 100%;
}

h1, h2, h3 {
    text-align: center;
}

h1, h2 {
    font-family: 'Merienda One', cursive;
}

header {
    background-color: #2718c7;
    color: white;
}

a {
    color: #2718c7;
    text-decoration: none;
}

a:hover {
    background-color: #2718c7;
    color: white;
}

.js-searched, .js-not-found {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.js-response-term {
    color: red;
    font-weight: bold;
}

.submit {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

button[type="button"] {
    margin: 1em;
}

.hidden {
    display: none;
}

div:not(.row) {
    display: inline-block;
}

article {
    margin-bottom: 1em;
    width: 900px;
}

.js-where-watch {
    clear: both;
}

.js-where-watch a {
    margin: 1em;
    display: inline-block;
}

iframe {
    margin-bottom: 3em;
}

.js-wiki-link {
    clear: both;
}

img {
    width: 100px;
    height: 3em;
}

.js-results-div {
    width: 100%;
}

input {
    width: 100%;
}

@media only screen and (min-width: 560px) {
    form {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 890px) {
    .col-6 {
        width: 50%;
    }
}

